.main {
  min-height: calc(100vh - 169px);
  /* display: flex;
  justify-content: center; */
}

.left-menu {
  width: 250px;
  min-height: 100vh;
}

.left-menu li {
  margin-left: 2rem;
  margin-top: 1rem;
  font-weight: bold;
}

.review {
  display: flex;

  /* flex-wrap: wrap; */
}

.left-name {
  /* border: 1px solid grey; */
  width: 100px;
  height: 100px;
  border-radius: 50%;
  font-size: 2rem;
  background: #0d6398;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
}

.rigt-review {
  width: calc(100% - 100px);
}
.stars {
  font-size: 2rem;
}

svg {
  /* border: solid yellow; */
  color: rgba(100, 105, 231, 0.804);
}

svg:hover {
  color: rgb(3, 22, 169);
}

.right-review {
  /* margin-top: -70px !important ; */
  width: 100%;
}

.fs-3 > input {
  display: none;
}
.floatingInput {
  font-family: monospace;
  font-size: medium;
  font-weight: 600;
  color: #0a0a10;
  border: 50px;
}

form {
  width: 350px;
}
.parent {
  position: relative;
}
.toggleButton {
  position: absolute;
  top: 350px;
  right: 30px;
}

form:nth-child(5) {
  border: solid black;
}

.flexCenter {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 360px;
}
h3 {
  color: #767a7c;
  font-size: 16px;
}
.login {
  font-size: 20px;
  font-weight: 700;
}
.inputEmail {
  border: 50px;
}
.icon {
  margin-right: 5px;
}
.fnb {
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: #32383a;
}
.navbar {
  position: sticky;
  background-color: #dbe4e9;
  top: 0;
  z-index: 20;
}
.logout {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0 !important;

  padding: 15px;
}
.card {
  height: 450px;
  width: 250px;
  position: relative;
  transition: transform 1500ms;
  transform-style: preserve-3d;
  border: none;
}
.card:hover {
  cursor: pointer;
  transform: rotateY(180deg);
}

.card-body,
.card-image-top {
  border-radius: 10px;
  position: absolute;
  backface-visibility: hidden;
  height: 100%;
  width: 100%;
}
img {
  height: 100%;
  width: 100%;
}
.card-image-top {
  animation: rotate 2s linear 1;
  transition: 2s;
}
.card-body {
  transform: rotateY(180deg);
  background-color: #000b0ba7;
  color: #dbe4e9;
}
@media only screen and (max-width: 570px) {
  .main {
    min-height: calc(100vh - 300px);
  }
}
